body {
  margin: 0;
}

  .title {
    position: absolute;
    top: 42%;
    /*top: 50%;*/
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }

  h1 {
    text-transform: uppercase;
    font-size: calc(1em + 5vw);
    font-family: Futura, sans-serif;
    padding-top: 10%;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 3px;
    color: transparent;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
  }

  #scroll{
    font-family: Futura, sans-serif;
    font-size: calc(.5em + 2vw);
    padding-top: 5%;
    text-align: left;
  }


  h2{
    font-size: calc(.5em + 2vw);
    text-align: center;
  }



  p {
    /*margin: 10%;*/
    font-size: 1rem;
    display: block;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .05em;
    text-align: left;
    line-height: 1.8em;

    /*width: 600px;*/
    /*margin: 10px auto;*/
  }

  main {
    width: 700px;
    margin: 10px auto;
  }

.embed{
  padding-top:  4%;
  padding-bottom: 4%;

}
