header {
  background:
  linear-gradient(140deg,
    rgba(255,102,0, 0.3),
    rgba(41,65,237,0.2)
    ),
    url('../../assets/sky.jpg');
    background-size: cover;
    height: 100vh;
  }

  a {
    top: 1%;
    width: 100%;
    box-sizing: border-box;
    bottom: 2%;
    padding: 2rem;
    color: red;
    text-decoration: none;
    font-family: Futura, sans-serif;
    font-size: 14px;
    transform: translatey(-50%);
  }
