body {
  margin:0;
}

section {
  height:100vh;
  position:relative;
}

h1 {
  /* text-transform: uppercase; */
  font-size: calc(1em + 5vw);
  font-family: Futura, sans-serif;
  padding-top: 10%;
   -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 3px;
  color: transparent;
  font-weight: bold;
  /* display: table-cell; */
  /* vertical-align: middle; */
  /* text-align: left; */
}

h2{
  font-size: calc(.5em + 10vw);
  font-family: Futura, sans-serif;
 }

a{
  text-decoration: none;
}

section > div {
  text-align:center;
}

.one {
  background: white;
  color:blue;
  padding-top: 200px;
  text-align: center;
}

.two {
  background-color: white;
  height:150vh !important;
}

.three {
  background-color: white;
 }







.video a {
  font: bold 100px/80px  "Times", serif;
   color: #f79f9a;
  text-decoration: none;
}

.video a:hover {
  font-size: 0;
  line-height: 0;
}

.video a:hover:before {
  content: attr(data-hover);
  font-size:100px;
  line-height: 80px;
   margin-bottom: -10px;
}
