*{ backface-visibility: hidden;}

.pin{
  position: fixed;
  top: 1%;
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
  text-decoration: none;
  transition: transform 100ms linear;
  display: flex;
}

.container {
  display: flex;
}

.container.space-between {
  justify-content: space-between;
}

.pin >  a {
  color: blue;
  text-decoration: none;
  font-family: Futura, sans-serif;
  font-size: 17px;
  transform: translatey(-50%);
}

a.underline:hover {
  border-bottom: 4px solid #fcfd05 ;
}
