*{ backface-visibility: hidden;}

.pin{
  position: fixed;
  top: 1%;
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
  text-decoration: none;
  /*box-shadow: 0 1rem 5rem -2rem rgba(black,0.5);*/
  transition: transform 100ms linear;
  display: flex;
}

.container {
  display: flex;
}

.container.space-between {
  justify-content: space-between;
}

.pin >  a {

  color: blue;
  text-decoration: none;
  /*font-family: 'Roboto', sans-serif;*/
  font-family: Futura, sans-serif;

  font-size: 14px;
  transform: translatey(-50%);
}

a.underline:hover {
  border-bottom: 4px solid ;
}
